html,
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}
.top {
  background: #1f2937;
}

.nobull {
  list-style: none;
}
a {
  color: #f9faf8;
}
.nobull li{
  display: inline;
  margin: 0 10px;
 
}
.Logo {
  width: 100px;
}

.intro {
  background: #1f2937;
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}
.shiba_1 {
  width: 600px;
}
