html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
}
.top {
  background: #1f2937;
}

.nobull {
  list-style: none;
}
a {
  color: #f9faf8;
  text-decoration: none;
}
.nobull li {
  display: inline;
  margin: 0 10px;
}
.Logo {
  width: 100px;
}
.header {
  display: flex;
  margin: auto;
  width: 75%;
}
.intro_container {
  background: #1f2937;
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: space-around;
  padding-bottom: 15px;
}
.shiba_1 {
  width: 400px;
 
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.intro {
  font-size: 24px;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  padding: 15px 32px;
  font-family: "Roboto", sans-serif;
  color: #f9faf8;
  border-radius: 12px;
  border: 0;
  font-weight: bold;
}
h2{
  display: flex;
  justify-content: center;
}
.reasons_container {
  margin: auto;
  display: flex;
  justify-content: center;

}
.image_container{
 display: flex;
 justify-content: space-around;
 width: 40%;
 padding: 15px;
   
}
.image_card {
  width: 150px;
}
.dog_image {
  object-fit: cover;
  width: 150px;
  height: 150px;
  
}