nav {
    display: flex;
    justify-content: space-between; 
}
.nobull {
    list-style: none;  
}

.nobull li {
    display: inline;
    margin: 0 15px;
}
.Logo {
    width: 12%;
}    
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}